<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="ReportServer_Authentication_AuthenticationBehavior">
                    <AuthenticationBehaviorExtension />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportServer_Authentication_Win" allowCookies="false">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="ReportServer_User" allowCookies="false" maxReceivedMessageSize="33554432">
                    <readerQuotas maxStringContentLength="8388608" maxArrayLength="8388608"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:83/WindowsAuthentication/AuthenticationService.svc"
                behaviorConfiguration="ReportServer_Authentication_AuthenticationBehavior"
                binding="basicHttpBinding" bindingConfiguration="ReportServer_Authentication_Win"
                contract="DevExpress.ReportServer.ServiceModel.Client.IAuthenticationService"
                name="ReportServer_Authentication" />
            <endpoint address="http://localhost:83/ReportServerFacade.svc"
                behaviorConfiguration="ReportServer_Authentication_AuthenticationBehavior"
                binding="basicHttpBinding" bindingConfiguration="ReportServer_User"
                contract="DevExpress.ReportServer.ServiceModel.Client.IReportServerFacadeAsync"
                name="ReportServer" />
        </client>
        <extensions>
            <behaviorExtensions>
                <add name="AuthenticationBehaviorExtension" type="DevExpress.ReportServer.ServiceModel.Client.FormsAuthenticationBehaviorExtension, DevExpress.Printing.v13.2.Core, Version=13.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
            </behaviorExtensions>
        </extensions>
    </system.serviceModel>
</configuration>